@use "../../styles/variables";
.pagination {
  display: flex;
  justify-content: center;
  nav {
    ul {
      list-style: none;
      display: flex;

      li {
        border-radius: 50%;
        transition: all 0.2s;

        button {
          all: unset;
          padding: 10px;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            scale: 0.5;
          }
        }

        &:hover {
          background-color: variables.$text-color;
        }
      }
    }
  }
}
.active {
  background-color: variables.$text-title-color;
  color: #fff;
}
