@use "../../../styles/variables" as *;
.date-select {
  border: $border-light;
  border-radius: 20px;
  background-color: #f7f7f7;
  width: 70%;
  margin: 0 auto;
  padding: 30px;

  > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;

    div {
      min-width: 250px;
      text-align: center;
    }

    h3 {
      font-weight: bold;
      margin: 0;
    }

    button {
      min-width: 0;
      aspect-ratio: 1;
      height: fit-content;
      padding: 0 10px;
      border-radius: 5px !important;
    }

    button:first-child {
      background-color: #fff;
      color: $text-color;
      border: $border-light;
    }
  }
  .weekday {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
    margin-bottom: 10px;
  }

  .date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;

    .date-cell {
      display: flex;
      position: relative;
      align-items: start;
      cursor: pointer;
      justify-content: center;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      aspect-ratio: 1;
      font-size: 20px;
      transition: all 0.3s ease-in-out;

      &:not(.disabled):hover,
      &.selected {
        background-color: $primary-color;
        color: #fff;
      }

      &.disabled {
        box-shadow: none;
        opacity: 0.6;
        cursor: not-allowed;
      }

      .closed {
        position: absolute;
        bottom: 0;
        background-color: rgb(255, 74, 74);
        color: #fff;
        font-size: 13px;
        width: 100%;
        text-align: center;
        border-radius: 0 0 10px 10px;
      }

      .not-working {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }
}
