@use "../../styles/variables" as *;

.guest-counter {
  background-color: $light-primary-color;
  border-radius: 20px;
  width: 60%;
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;

  h2 {
    color: $primary-color;
  }

  button {
    min-width: 0;
    font-size: 20px;
    padding: 0 10px;
    height: auto;
    aspect-ratio: 1;
    i {
      scale: 0.8;
    }
  }

  button:first-child {
    margin-right: 30px;
    background-color: #fff;
    border: $primary-color solid 1px;
    color: $text-color;
  }
}

.service-categ-list {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 15px;
  > div {
    padding: 5px 10px;
    background-color: $light-primary-color;
    h3 {
      margin: 0;
    }
  }

  .srv-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    .srv-item {
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.selected-services {
  border-radius: 20px;
  background-color: #f7f7f7;
  flex: 1;
  padding: 20px;
  font-size: 22px;
  height: fit-content;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
  }
}

.technician-select {
  padding: 15px;
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  background-color: $light-primary-color;

  label {
    font-weight: bold;
  }

  > div {
    height: 50px;
    border-radius: 30px;
    border: $border-light;
    background-color: #fff;
  }

  span {
    color: $text-color;
  }
}

.date-select {
  border: $border-light;
  border-radius: 20px;
  background-color: #f7f7f7;
  width: 70%;
  margin: 0 auto;
  padding: 30px;

  > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;

    h3 {
      font-weight: bold;
      margin: 0;
    }

    button {
      min-width: 0;
      aspect-ratio: 1;
      height: fit-content;
      padding: 0 15px;
      border-radius: 10px !important;
    }
  }
  .weekday {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
    margin-bottom: 10px;
  }

  .date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;

    > div {
      display: flex;
      align-items: start;
      cursor: pointer;
      justify-content: center;
      background-color: #fff;
      border-radius: 10px;
      aspect-ratio: 1;
      font-size: 20px;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
}

.time-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 20px;
  gap: 15px;
  margin-top: 20px;
  > div {
    padding: 15px;
    text-align: center;
    border: $border-light;
    border-width: 2px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.3s ease-in-out;

    &:hover {
      border-color: $primary-color;
    }
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
  border-radius: 10px;
  background-color: $light-primary-color;
  padding: 15px;
  gap: 10px;

  label {
    font-weight: bold;
    span {
      color: $text-color;
      font-weight: normal;
    }
  }

  input {
    border-radius: 30px;
    border: $border-light;
    line-height: 3;
    padding: 0 20px;

    &:hover,
    &:focus-visible {
      border-color: $primary-color;
      outline: $primary-color;
    }
  }
}

.confirm-info {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
  margin: 0 auto;

  > div:not(:last-child) {
    border-radius: 10px;
    padding: 15px;
    background-color: $light-primary-color;

    h4 {
      font-weight: bold;
    }

    span {
      color: $text-color;
    }
  }

  .date {
    display: flex;
    gap: 100px;
    > div {
      display: flex;
      flex-direction: column;
    }
  }

  .contact {
    > div {
      background-color: #fff;
      border-radius: 10px;
      padding: 0 15px;

      > div {
        border-bottom: $border-light;
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
      }

      > div:last-child {
        border-bottom: none;
      }
    }
  }

  .tech {
    > div {
      background-color: #fff;
      border-radius: 10px;
      display: flex;
      padding: 15px;
      gap: 10px;

      > div {
        border-radius: 30px;
        background-color: $primary-color;
        color: #fff;
        padding: 10px;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }

  .service {
    > div:first-of-type {
      background-color: #fff;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
    }

    > div:last-child {
      background-color: #fff;
      border-radius: 10px;
      padding: 0 20px;

      > div {
        border-bottom: $border-light;
        display: flex;
        padding: 15px 0;
        justify-content: space-between;
      }
      > div:last-child {
        border-bottom: none;

        strong {
          color: $primary-color;
          font-size: 26px;
        }
      }
    }
  }

  .note {
    textarea {
      width: 100%;
      border-radius: 15px;
      padding: 10px 20px;
      min-height: 130px;
      border: $border-light;

      &:focus-visible {
        outline: none;
        border-color: $primary-color;
      }
    }
  }

  .policy {
    text-align: center;
    color: $text-color;
    font-size: 14px;

    div {
      margin-bottom: 15px;
      input {
        margin-right: 5px;
      }
      span {
        color: $text-title-color;
      }
    }
  }
}
