@use "../../styles/variables" as *;

.guest-counter {
  background-color: $light-primary-color;
  border-radius: 20px;
  width: 60%;
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;

  h3 {
    font-weight: bold;
  }
  h1 {
    color: $primary-color;
  }

  button {
    min-width: 0;
    font-size: 20px;
    padding: 0 10px;
    height: auto;
    aspect-ratio: 1;
    i {
      scale: 0.8;
    }
  }

  button:first-child {
    margin-right: 30px;
    background-color: #fff;
    border: $primary-color solid 1px;
    color: $text-color;
  }
}

.service-categ-list {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 15px;

  > div {
    border-radius: 10px;
    padding: 10px 5px;
    background-color: $light-primary-color;
    transition: all 0.2s ease;
    max-height: 50px;

    h3 {
      margin: 0;
    }

    &.active {
      max-height: 100%;
      .srv-list {
        max-height: 100%;
        opacity: 1;
        padding: 10px;
      }
    }
  }

  .srv-list {
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    opacity: 0;
    max-height: 0%;
    transition: all 0.3s ease;

    .srv-item {
      background-color: #fff;
      display: flex;
      align-items: center;
      gap: 15px;
      border-radius: 10px;
      padding: 5px 15px;

      > *:first-child {
        flex: 1;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow-wrap: break-word;
        word-break: break-word;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        line-clamp: 3;
      }

      > *:last-child {
        display: flex;
        gap: 8px;
        align-items: center;
      }

      button:first-child {
        background-color: #fff;
        border: 1px solid $primary-color;
        color: $text-color;
      }
      button {
        min-width: 0;
        border-radius: 5px !important;
        height: fit-content;
        aspect-ratio: 1;
        padding: 0 2px;

        i {
          scale: 0.7;
        }
      }
    }
  }
}

.selected-services {
  border-radius: 20px;
  background-color: #f7f7f7;
  flex: 1;
  padding: 20px;
  font-size: 22px;
  height: fit-content;

  > div {
    border-radius: 10px;
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;

    .selected-item {
      display: flex;
      font-size: 18px;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0;
      margin: 0 10px;
      border-bottom: $border-light;
    }
  }
  .est-total {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    strong:last-child {
      color: $primary-color;
    }
  }
}

.technician-select {
  padding: 15px;
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  background-color: $light-primary-color;

  label {
    font-weight: bold;
  }

  .tech-input {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 5px;
    min-height: 50px;
    height: auto;
    border-radius: 30px;
    border: $border-light;
    background-color: #fff;
    cursor: pointer;
    pointer-events: visible;

    div {
      background-color: $primary-color;
      border-radius: 30px;
      display: flex;
      align-items: center;
      gap: 5px;
      text-wrap: nowrap;
      width: fit-content;
      color: #fff;
      padding: 5px 8px 5px 12px;

      button {
        all: unset;
        padding: 0 2px;
        border: $border-light;
        cursor: pointer;

        i {
          scale: 0.7;
        }
      }
    }
  }

  .tech-list {
    height: 0;
    overflow-y: auto;
    transition: height 0.5s ease-in-out;
    background-color: #fff;

    > div {
      display: flex;
      align-items: center;
      padding: 20px;
      gap: 15px;
      cursor: pointer;
      background-color: #fff;
      transition: all 0.3s ease;

      > div {
        border-radius: 50%;
        border: 1px solid $primary-color;
        overflow: hidden;
        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
        }
      }

      &:hover {
        background-color: #f7f7f7;
        border-radius: 50px;
      }

      &.selected {
        opacity: 0.5;
        cursor: not-allowed;
        background-color: #fff;
      }
    }

    &.active {
      height: 300px;
    }
  }

  span {
    color: $text-color;
  }
}

.time-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 20px;
  gap: 15px;
  margin-top: 20px;
  > div {
    padding: 15px;
    text-align: center;
    border: $border-light;
    border-width: 2px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:hover:not(.disabled) {
      border-color: $primary-color;
    }

    &.selected {
      background-color: $primary-color;
      border-color: $primary-color;
      color: #fff;
    }
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
  border-radius: 10px;
  background-color: $light-primary-color;
  padding: 15px;
  gap: 10px;

  label {
    font-weight: bold;
    span {
      color: $text-color;
      font-weight: normal;
    }
  }

  input {
    border-radius: 30px;
    border: $border-light;
    line-height: 3;
    padding: 0 20px;

    &:hover,
    &:focus-visible {
      border-color: $primary-color;
      outline: $primary-color;
    }
  }

  .error-text {
    color: red;
    font-size: 16px;
    margin-top: -4px;
  }
}

.confirm-info {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
  margin: 0 auto;

  > div:not(:last-child) {
    border-radius: 10px;
    padding: 15px;
    background-color: $light-primary-color;

    h4 {
      font-weight: bold;
      margin: 0 10px 10px;
    }

    span {
      color: $text-color;
    }
  }

  .date {
    display: flex;
    gap: 100px;
    > div {
      display: flex;
      flex-direction: column;
    }
  }

  .contact {
    > div {
      background-color: #fff;
      border-radius: 10px;
      padding: 0 15px;

      > div {
        border-bottom: $border-light;
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
      }

      > div:last-child {
        border-bottom: none;
      }
    }
  }

  .tech {
    > div {
      background-color: #fff;
      border-radius: 10px;
      display: flex;
      padding: 15px;
      gap: 10px;

      > div {
        border-radius: 30px;
        background-color: $primary-color;
        color: #fff;
        padding: 10px 15px;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }

  .service {
    > div {
      background-color: #fff;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      margin-bottom: 15px;
    }

    > div:last-child {
      background-color: #fff;
      border-radius: 10px;
      padding: 0 20px;

      > div {
        border-bottom: $border-light;
        display: flex;
        padding: 15px 0;
        justify-content: space-between;
      }
      
      > div:last-child {
        border-bottom: none;

        strong {
          color: $primary-color;
          font-size: 26px;
        }
      }
    }
  }

  .note {
    textarea {
      width: 100%;
      border-radius: 15px;
      padding: 10px 20px;
      min-height: 130px;
      border: $border-light;

      &:focus-visible {
        outline: none;
        border-color: $primary-color;
      }
    }
  }

  .policy {
    text-align: center;
    color: $text-color;
    font-size: 14px;

    div {
      margin-bottom: 15px;
      input {
        margin-right: 5px;
      }
      span {
        color: $text-title-color;
      }
    }
  }
}
