@use "../../styles/variables";

.reviewForm {
  background-color: #f5f5f5;
  border: variables.$border-light;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 700px;
  padding: 20px 20px 30px;

  p {
    margin: 0;
    padding-bottom: 5px;
    color: variables.$text-title-color;
  }

  input {
    width: 100%;
    padding-left: 20px;
    border-radius: 30px;
    height: 50px;
    border: variables.$border-light;
  }
}
