@use "../../styles/variables";

.reviewForm {
  background-color: #f5f5f5;
  border: variables.$border-light;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1.5;
  min-width: 0;
  padding: 20px 30px 30px;
  margin-bottom: auto;

  p {
    margin: 0;
    padding-bottom: 10px;
    color: variables.$text-title-color;
  }

  input,
  textarea {
    border: variables.$border-light;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
  }

  input {
    padding: 0 20px;
    border-radius: 30px;
    height: 50px;
  }

  textarea {
    resize: none;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 15px 20px;
    font-family: variables.$font-family;
  }
  input:focus,
  textarea:focus {
    outline: none !important;
    border: 1px solid #682243 !important;
    caret-color: #682243;
  }
}

.rating {
  scale: 1.1;
  margin: 5px 2px 0;
  font-size: 24px;
  user-select: none;
}
.rating:hover {
  cursor: pointer;

  ~ .rating {
    color: rgb(170, 170, 170);
  }
}

.upload {
  background: #ffecec;
  border: 1px dashed #d3427a;
  font-weight: normal;
  font-size: 12px;
  color: variables.$text-color;
  width: 100px;
  min-width: 100px;
  height: 100px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 0;
  text-wrap: inherit;
  transition: all 0.2s;
}

.upload:hover {
  background-color: #fdbfbf;
}

.post {
  background: white;
  border: 1px solid variables.$primary-color;
  width: min-content;
  height: 45px;
  padding: 0 40px;
  color: variables.$primary-color;
  transition: all 0.3s;
  cursor: pointer;
}

.post:hover {
  background-color: variables.$primary-color;
  color: variables.$button-text-color;
}

.imgBlock {
  display: flex;
  margin: 10px 0;
}

.imgList {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  margin-right: 10px;
}

.imgItem {
  position: relative;
  min-width: 100px;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ccc;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: gray;
    color: white;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 14px;
    min-width: 0;
    padding: 0 0 2px 0;
  }
}

.fileError {
  border: #dd7e87 1px solid;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  background: #f1d0cd;
  color: #58151c;
  font-size: 16px;
  div:last-child {
    position: absolute;
    top: 10px;
    right: 15px;

    button {
      all: unset;
      cursor: pointer;
    }
  }
}

.spinner {
  margin-left: 15px;
  scale: 1.5;
  animation: spin 1s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
