@use "variables";

@mixin default-button {
  background-color: variables.$primary-color;
  color: variables.$button-text-color;
  border-radius: 30px;
  border: none;
  height: 50px;
  min-width: 115px;
  padding: 0 20px;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}

@mixin secondary-button {
  @include default-button;
  background-color: variables.$secondary-opposite-color;
  color: variables.$text-title-color;
  border: variables.$border-bold;
  height: 34px;
  padding: 12px 20px;
  font-size: 14px;
  line-height: 10px;
  transition: all 0.3s;

  &:hover {
    background-color: variables.$primary-color;
    color: variables.$button-text-color;
    border: transparent 1px solid;
  }
}

@mixin third-button {
  @include secondary-button;
  border: variables.$border-light;
  font-weight: normal;
  color: variables.$text-color;
}

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #d3427a;
    border-radius: 5px;
  }
}
