@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

$primary-color: #d3427a;
$secondary-color: #682243;
$secondary-opposite-color: #ffffff;
$background-color: #202020;
$text-title-color: #333333;
$text-color: #777777;
$text-color-2: #9e9e9e;
$button-text-color: #ffffff;
$font-family: "Mulish", sans-serif;
$border-light: 1px solid #cdcdcd;
$border-bold: 1px solid #777777;
$box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
$star-color: #ffb800;
