@use "variables";

.close-button {
  position: absolute;
  min-width: 0;
  top: 15px;
  right: 15px;
  background: none;
  color: variables.$text-color;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  border: 1px solid rgba(211, 66, 122, 1);
  border-radius: 25px;
  padding: 0.4em;
  margin-top: 1.5em 0 1.5em;
}

.info button {
  color: gray;
  background-color: transparent;
  font-size: 14px;
  border-radius: 30px;
  font-weight: normal;
  line-height: normal;
  padding: 0.6em 1em;
  text-wrap: nowrap;
  height: auto;
}

.info button:hover {
  background-color: variables.$primary-color;
  color: variables.$button-text-color;
}

.login-input {
  width: 100%;
  padding: 1em;
  border-radius: 30px;
  height: 50px;
  border: variables.$border-light;
  box-sizing: border-box;
  padding: 1em 2em;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
  max-height: 230px;
  overflow-y: auto;
  object-fit: cover;
}

.next-button,
.facebook-login-button,
.google-login-button {
  width: 100%;
  font-weight: normal;
}

.next-button {
  background-color: variables.$primary-color;
  color: variables.$button-text-color;
}

.facebook-login-button,
.google-login-button {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 14px;
}

.facebook-login-button {
  background-color: #3e66b7;
}

.google-login-button {
  background-color: #ce0811;
}

button img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.divider {
  position: relative;
  width: 100%;
  height: 30px;
  span {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #ebebeb;
    top: 50%;
  }
  p {
    position: absolute;
    left: 50%;
    top: -100%;
    transform: translate(-50%, 100%);
    background: white;
    padding: 0 5px;
    color: variables.$text-color;
  }
}
