@use "variables";
@use "mixin";
.salonDetailHeader {
  display: flex;
  align-items: center;
  gap: 10px;

  img:first-child {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: variables.$border-bold;
  }

  h1 {
    margin: 0;
    font-size: 30px;
  }
}

.flex1 {
  display: flex;
  align-items: center;
  gap: 5px;

  span {
    font-size: 14px;
  }
  span:first-of-type {
    color: green;
  }
}

.titleBlock {
  display: flex;
  align-items: center;
  gap: 10px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;

  button {
    @include mixin.third-button;
    min-width: 0;
  }

  button:first-child {
    @include mixin.default-button;
    font-weight: normal;
    height: 34px;
    font-size: 14px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 15px;

  img {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }
}

.services {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.map {
  border-radius: 5px;
  padding: 20px;
  margin-right: 25px;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.25);
  margin-top: 30px;

  h2 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: variables.$text-title-color;
  }
}

.mapImage {
  margin: 15px 0;
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
}

.open {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;

  span {
    font-weight: bold;
    color: variables.$text-color;
  }

  span:first-of-type {
    color: green;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  text-align: left;

  button {
    border-radius: 6px;
    color: variables.$button-text-color;
    background-color: variables.$text-title-color;
    font-size: 12px;
    font-weight: normal;
    padding: 0;
    height: 30px;
    min-width: 80px;
    padding: 5px;
  }
}
