@use "variables";

.map {
  position: sticky;
  top: 120px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.25);
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 25vw;
  min-width: 300px;
  h3 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: variables.$text-title-color;
  }

  button:first-child {
    width: 100%;
    height: 42px;
  }
}

.mapImage {
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
}

.open {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 5px;

  span {
    font-weight: bold;
    color: variables.$text-color;
  }

  span:first-of-type {
    color: green;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  gap: 10px;

  div {
    display: flex;
    align-items: center;
  }

  button {
    border-radius: 6px;
    color: variables.$button-text-color;
    background-color: variables.$text-title-color;
    font-size: 12px;
    font-weight: normal;
    padding: 0;
    height: 30px;
    min-width: 80px;
    padding: 5px;
  }
}

.social {
  display: flex;
  gap: 15px;
  align-items: center;
}

.embedMapResponsive {
  position: relative;
  text-align: right;
  width: 100%;
  height: 0;
  padding-bottom: 66.66666666666666%;
}
.embedMapContainer {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 5px;
  left: 0;
}
.embedMapFrame {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .map {
    top: 180px;
  }
}
