@use "variables";
.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  max-width: 65vw;
  transition: all 0.3s ease;
}

h1:first-of-type {
  margin: 0;
  margin-bottom: 10px;
}

.servicesSection {
  display: flex;
  position: relative;
}
.mapWrapper {
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: end;
  width: 100%;
  pointer-events: none; // allow clicks to pass through wrapper
}

.map {
  position: sticky;
  top: 120px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.25);
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 25vw;
  min-width: 300px;
  h3 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: variables.$text-title-color;
  }

  button:first-child {
    width: 100%;
    height: 42px;
  }
}

@media screen and (max-width: 1250px) {
  .servicesSection {
    flex-direction: column;
    gap: 15px;
  }

  .services {
    max-width: 100%;
  }

  .mapWrapper {
    position: static;
    display: block;
    max-height: max-content;
    width: 100%;
  }
}
