@use "variables";
.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  max-width: 65vw;
  transition: all 0.3s ease;
}

h1:first-of-type {
  margin: 0;
  margin-bottom: 10px;
}

.servicesSection {
  display: flex;
  position: relative;
}
.mapWrapper {
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: end;
  width: 100%;
  pointer-events: none; // allow clicks to pass through wrapper
}

@media screen and (max-width: 1250px) {
  .servicesSection {
    flex-direction: column;
    gap: 15px;
  }

  .services {
    max-width: 100%;
  }

  .mapWrapper {
    position: static;
    display: block;
    max-height: max-content;
    width: 100%;
  }


}
