@use "variables";
.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  max-width: 65vw;
  transition: all 0.3s ease;
}

h1:first-of-type {
  margin: 0;
  margin-bottom: 10px;
}

.servicesSection {
  display: flex;
  position: relative;
}

.fullWidth {
  max-width: 100%;
}
.hidden {
  transform: translateX(30%);
}
/* Toggle button */
.toggleButton {
  position: sticky;
  left: -35x; /* intrude from the left */
  top: 150px;
  z-index: 11;
  width: 10px;
  height: 50px;
  background: #fff;
  color: variables.$text-title-color;
  border: none;
  cursor: pointer;
  pointer-events: all;
  border-radius: 10px 0 0 10px;
  padding: 0 20px 0 15px;
  margin-top: 30px;
  min-width: 0;
}

.mapWrapper {
  transition: transform 0.3s ease;
}
