@use "variables";
@use "mixin";

.salonDetail {
  margin: 30px 100px 50px;
}

.salonDetailHeader {
  display: flex;
  align-items: center;
  gap: 10px;

  img:first-child {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: variables.$border-bold;
  }

  h1 {
    margin: 0 !important;
    font-size: 30px;
  }
}

.flex1 {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  text-wrap: nowrap;
  position: static;

  .closed {
    color: red;
  }

  span {
    font-size: 14px;
    font-weight: bold;
    color: green;
    span {
      color: variables.$text-color;
    }
  }
}

.titleBlock {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    font-weight: bold;
  }

  span:first-of-type {
    font-weight: normal;
    color: variables.$text-color;
  }
}

.action {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;

  button {
    @include mixin.third-button;
    min-width: 0;
    display: flex;
    align-items: center;

    img {
      width: 14px;
      height: 14px;
      margin-left: 0;
    }
  }
  button:hover {
    background-color: #e0e0e0;
  }
  button:first-child {
    @include mixin.default-button;
    font-weight: normal;
    display: block;
    height: 34px;
    font-size: 14px;
  }
}

.gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 15px;

  button {
    position: absolute;
    bottom: 20px;
    right: 30px;
    display: flex;
    align-items: center;
    @include mixin.third-button;
    min-width: 0;

    img {
      width: 14px;
      height: 14px;
      margin-left: 0;
      overflow: visible;
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }
}

.titleFlex {
  height: 90px;
}

@media screen and (max-width: 1250px) {
  .action button {
    img {
      margin: 0;
    }
    span {
      display: none;
    }
  }
}
@media screen and (max-width: 1000px) {
  .titleFlex {
    height: 150px;
  }
}

@media screen and (max-width: 768px) {
  .salonDetail {
    margin: 30px 20px;
  }

  .flex1 {
    flex-direction: column;
    gap: 0;
    align-items: self-start;
    padding-bottom: 10px;
    h1 {
      margin-bottom: 0;
    }
  }

  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    img {
      aspect-ratio: 5/3;
    }
  }
}
