@use "variables";
@use "mixin";
.salonDetailHeader {
  display: flex;
  align-items: center;
  gap: 10px;

  img:first-child {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: variables.$border-bold;
  }

  h1 {
    margin: 0;
    font-size: 30px;
  }
}

.flex1 {
  display: flex;
  align-items: center;
  gap: 5px;
  text-wrap: nowrap;
  position: static;

  span {
    font-size: 14px;
    font-weight: bold;
  }
  span:first-of-type {
    color: green;
  }
}

.titleBlock {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    font-weight: bold;
  }

  span:first-of-type {
    font-weight: normal;
    color: variables.$text-color;
  }
}

.action {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;

  button {
    @include mixin.third-button;
    min-width: 0;
  }

  button:first-child {
    @include mixin.default-button;
    font-weight: normal;
    height: 34px;
    font-size: 14px;
  }
}

.gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 15px;

  button {
    position: absolute;
    bottom: 20px;
    right: 30px;
    @include mixin.third-button;
    min-width: 0;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }
}

.titleFlex {
  height: 90px;
}

@media screen and (max-width: 1150px) {
  .titleFlex {
    height: 150px;
  }
}
