@use "variables";
@use "mixin";
.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: white;
  border-radius: 10px;
  border: variables.$border-light;
  transition: all 0.3s;
}

.service-card:hover {
  box-shadow: variables.$box-shadow;
  border: variables.$primary-color 1px solid;
}

.service-card-link {
  text-decoration: none;
  color: inherit;
}
.service-image {
  flex: 1;
  max-height: 150px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.book-button {
  @include mixin.secondary-button;
  transition: all 0.3s;
}

.book-button:hover {
  background-color: variables.$primary-color;
  color: variables.$button-text-color;
  border: transparent 1px solid;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: gray;
  padding: 5px;
}

.service-badge {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  span {
    font-size: 15px;
    font-weight: bold;
  }

  div:last-of-type {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  span:last-child {
    font-size: 12px;
    font-weight: normal;
    color: variables.$text-color;
  }
}
.service-overlay {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1em;
  h3 {
    margin: 0;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.service-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: variables.$text-color;
}

.service-book {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
  }
  span {
    font-weight: bold;
    color: variables.$primary-color;
  }
}
