.reviewLog {
  display: flex;
  gap: 20px;
  margin: 15px 0;
}

.writeReview {
  margin: 20px auto;
  padding: 0 30px;
  max-width: 1100px;
}

@media screen and (max-width: 1000px) {
  .reviewLog {
    flex-direction: column;
  }
}
