.ratingStars {
  display: grid;
  grid-template-columns: 11% 70% 10%;
  text-align: right;
  column-gap: 15px;
  row-gap: 20px;
  padding: 30px 0;
  text-wrap: nowrap;

  > div {
    background: #f5f5f5;
    border: 1px solid #eeeeee;
    border-radius: 300px;
    position: relative;

    div {
      height: 102%;
      border-radius: 300px;
      box-shadow: 0px 1px 4px 0px #00000033;
    }
  }
}

.rating {
  margin-bottom: 20px;

  h3 {
    margin-bottom: 10px;
  }
}

.overall {
  display: flex;
  align-items: baseline;
  gap: 10px;
  font-size: 25px;

  > div {
    width: fit-content;
    position: relative;
    margin: 15px 0 5px;
  }
}

.trueStar {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}
