@use "../../../styles/variables" as *;

.detail-layout {
  max-width: 800px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  > h2 {
    font-weight: bold;
    margin-top: 15px;
  }
  > span {
    font-size: 18px;
    max-width: 70%;
    text-align: center;
    color: $text-color;
    font-weight: 600;
  }

  button {
    font-size: 18px;
    font-weight: 800;
    padding: 0 50px;

    &:hover {
      box-shadow: $box-shadow;
    }
  }
}

.detail-container {
  border: $border-light;
  background-color: #f9f9f9;
  padding: 10px 25px 25px;
  margin: 15px 0 20px;
  border-radius: 10px;

  > strong {
    font-size: 18px;
    box-sizing: border-box;
    margin-top: 15px;
    display: block;
  }

  .datetime {
    display: flex;

    > div {
      flex: 1;
      padding-left: 20px;
      border-right: $border-light;

      strong:first-child {
        color: $text-color;
        font-size: 14px;
      }
    }
    > div:first-child {
      flex: 1.5;
      padding: 0;
    }

    > div:last-child {
      flex: 1;
      border: none;
    }
  }

  .booking-detail {
    border-radius: 10px;
    border: $border-light;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    span {
      color: $text-color;
      span {
        color: $text-title-color;
        font-weight: 600;
      }
    }
  }

  .inner-detail {
    border: $border-light;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;

    > div:first-child {
      background-color: #fcedf2;
      padding: 10px;
      font-weight: bolder;
      font-size: 20px;
    }

    > div:last-child {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      h5 {
        font-weight: bold;
      }

      > :first-child {
        border: $border-light;
        border-radius: 10px;
        padding: 20px;

        > div {
          display: flex;
          justify-content: space-between;
        }
      }

      .service {
        background-color: $primary-color-light;
        padding: 15px 20px 10px;
        > div {
          background-color: #fff;
          padding: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 10px;
          margin-bottom: 10px;
        }
      }

      .tech {
        background-color: $primary-color-light;
        padding: 20px;
        border-radius: 10px;
        div {
          font-weight: bold;
          color: $text-color;
        }
      }
    }
  }

  .note {
    margin-top: 15px;
    color: $text-color;
    text-align: center;
  }

  .payment-detail {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 5px;

    > div {
      flex: 1;
      background-color: #fff;
      border: $border-light;
      border-radius: 10px;
    }

    .total {
      overflow: hidden;
      > div:first-child {
        padding: 15px 15px 0;

        > div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
        }
      }

      > div:last-child {
        background: linear-gradient(
          279.84deg,
          rgba(201, 23, 29, 0.15) 1.09%,
          rgba(255, 205, 85, 0.2) 100.42%
        );
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;

        div {
          font-weight: 600;
        }

        strong {
          color: $primary-color;
          font-size: 20px;
        }
      }
    }

    > div:last-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      div {
        font-weight: bold;
      }

      div:last-child {
        font-size: 20px;
        color: $primary-color;
      }
    }
  }
}
