@use "../../../styles/variables" as *;

.booking-header {
  background-color: #f7f7f7;
  padding: 15px 20px;
  border-radius: 20px;
}

.booking-content {
  margin-top: 20px;
  background-color: $light-primary-color;
  z-index: 0;
  padding: 15px 10px;
  border-radius: 20px;

  .back-btn {
    background: none;
    border: $border-light;
    border-color: $primary-color;
    color: $text-title-color;
  }
  .back-btn ~ button,
  .back-btn {
    min-width: 0;
  }
}

.progressor {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  z-index: 0;
  margin-bottom: 10px;

  > div:last-child {
    display: flex;
    position: absolute;
    z-index: -1;
    width: 77%;
    height: 2px;
    top: 55%;
    background: $text-color;

    > div {
      position: relative;
      margin-right: auto;
      background-color: $primary-color;
      height: 2px;
      transition: all 0.5s;

      div {
        position: absolute;
        transform: translateY(-45%);
        right: 0;
        height: 15px;
        aspect-ratio: 1;
        background-color: $primary-color;
        border-radius: 50%;
      }
    }
  }

  > div:not(:last-child) {
    padding-top: 8px;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text-color;
    font-size: 14px;

    * {
      transition: all 0.3s 0.3s;
    }
    .step-icon {
      border-radius: 50%;
      border: $border-bold;
      border-width: 2px;
      background-color: #ffeaf2;
      width: fit-content;
      padding: 5px;

      svg {
        width: 33px;
        height: 33px;
      }

      &.active,
      &.done {
        border-color: $primary-color;
        box-shadow: 0 0 0 4px rgba(211, 66, 122, 0.2);
        scale: 1.1;
        animation: bloom 0.5s 0.3s 1;
      }

      &.active {
        path,
        circle,
        rect {
          stroke: $primary-color;
        }
      }

      &.done {
        background-color: $primary-color;

        path,
        circle,
        rect {
          stroke: #fff;
        }
      }
    }
  }
}

@keyframes bloom {
  50% {
    box-shadow: 0 0 0 10px rgba(211, 66, 122, 0.2);
  }
}

.step-name {
  display: flex;
  justify-content: space-evenly;

  > div {
    display: flex;
    justify-content: center;
    max-width: 47px;
    text-wrap: nowrap;
    transition: all 0.3s 0.3s;

    &.active {
      font-weight: bold;
      color: $primary-color;
    }
  }
}

.step-content {
  margin: 20px 0;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px 20px;
}
