@use "../../../styles/variables";

.navbar {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0 30px;

  > div {
    flex: 1;
    text-align: center;
    cursor: pointer;
  }

  div.active {
    color: variables.$primary-color;
    text-decoration: underline;
  }
}

.settingContainer {
  border: variables.$border-light;
  border-radius: 20px;
  padding-top: 30px;
}

.profile {
  > div:first-child {
    display: flex;
    justify-content: space-evenly;
  }

  > div:last-child {
    text-align: center;
    margin: 20px;
    button {
      padding: 0 50px;
    }
  }

  .avatar {
    position: relative;
    height: fit-content;
    cursor: pointer;

    img {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      object-fit: cover;
      border: variables.$border-bold;
    }

    div {
      position: absolute;
      inset: 37%;
      height: fit-content;
      width: fit-content;
      padding: 8px;
      border-radius: 50%;
      background-color: #ffffff85;
      pointer-events: none;
    }
  }
}

.checkbox {
  > div {
    display: flex;
    gap: 5px;
    margin-bottom: 30px;

    input[type="checkbox"] {
      cursor: pointer;
      width: 15px;
      height: 15px;
      accent-color: variables.$primary-color;
      border-radius: 50%;

      &:focus {
        box-shadow: 0 0 0 0.25rem rgba(211, 66, 122, 0.25);
      }
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  span {
    font-size: 14px;
  }

  input {
    border: variables.$border-light;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    padding: 0 20px;
    border-radius: 30px;
    color: variables.$text-title-color;
    height: 50px;

    &:focus-visible {
      outline: none !important;
    }
  }

  button {
    all: unset;
    padding: 0 15px;
    cursor: pointer;
  }
}

.overlay {
  display: flex;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  transition: all 0.4s ease;

  &.active {
    opacity: 1;
    pointer-events: all;

    > div {
      transform: translateY(0%);
    }
  }
}

.modal {
  margin: 300px auto 0;
  position: relative;
  background-color: #a2dbae;
  border-radius: 10px;
  padding: 20px;
  height: max-content;
  transition: all 0.4s ease;
  transform: translateY(-20%);

  div {
    text-align: right;
    cursor: pointer;
  }

  h3 {
    margin: 0;
  }
}

.passwd {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 0 50px 200px;
  gap: 15px;

  span {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
  }

  div {
    border: variables.$border-light;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 10px;

    input {
      border: none;
      font-size: 16px;
      flex: 1;
      height: 80%;

      &:focus-visible {
        outline: none;
      }
    }

    input[type="password"] {
      font-size: 22px;
      letter-spacing: 1px;
    }

    button {
      all: unset;
      cursor: pointer;
    }
  }

  button {
    margin-top: 20px;
    width: max-content;
    padding: 0 50px;
  }

  .invalid {
    border: 1px solid #e74c3c;
  }

  .err {
    display: block;
    margin-top: 5px;
    color: #e74c3c;
    font-size: 14px;
  }
}
