@use "../../styles/variables";
.navlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  text-decoration: none;
  color: variables.$text-color-2;
  svg {
    min-width: 20px;
    min-height: 18px;
    path {
      fill: #fff;
      transition: all 0.3s;
    }
  }
  li {
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 30px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    cursor: pointer;

    strong {
      padding-left: 10px;
      overflow: hidden;
    }
  }
  li:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.active {
  color: variables.$primary-color;
  li {
    background: #fff;
  }
  path {
    fill: variables.$primary-color !important;
  }
}
