@use "../../styles/variables";
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    all: unset;
    cursor: pointer;
  }

  > div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
  }
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: variables.$border-light;
}
