@use "../../styles/variables";
.userSideNav {
  padding: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 20px;
  color: variables.$text-color-2;
}

.info {
  background-color: #292929;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    display: flex;
    gap: 10px;
  }

  strong {
    margin: 15px 0;
  }

  h5 {
    margin: 0;
    font-size: 12px;
  }
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: white 1px solid;
  object-fit: cover;
}

.point {
  strong,
  span {
    color: variables.$primary-color;
  }
  strong {
    font-size: 20px;
  }
}

.navlist {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 30px;
    transition: all 0.3s;
  }
  li:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
  }
}

.collapsed {
  max-width: 90px;
}
