@use "../../styles/variables";
.userSideNav {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 20px;
  width: 220px;
  color: variables.$text-color-2;
  transition: 0.4s all cubic-bezier(0.67, 0.02, 0.26, 0.93);
}

.info {
  background-color: #292929;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  align-items: center;

  > div {
    display: flex;
    gap: 10px;
  }

  strong {
    margin: 15px 0;
    text-overflow: ellipsis;
    text-align: center;
    text-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    transition: all 0.3s;
  }

  h5 {
    margin: 0;
    font-size: 12px;
  }
}

.logo {
  text-align: end;
  overflow: hidden;
  transform: translateX(4px);
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: white 1px solid;
  transition: all 0.3s;
  object-fit: cover;
}

.point {
  transition: all 0.3s;

  span {
    color: variables.$primary-color;
    text-wrap: nowrap;
    font-size: 20px;
    font-weight: bold;
    span {
      font-size: 18px;
      font-weight: normal;
    }
  }
}

.navlist {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 30px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    cursor: pointer;

    img {
      min-width: 20px;
      color: #fff;
    }
    strong {
      padding-left: 10px;
      overflow: hidden;
    }
  }
  li:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
  }
}

.collapsed {
  width: 60px;
  padding: 0 15px;
  margin: 20px 0;

  .info {
    background-color: variables.$background-color;
    strong {
      width: 60px;
    }
  }

  .avatar {
    scale: 0.8;
  }

  .point {
    scale: 0;
  }
}
