@use "../../styles/variables";
@use "../../styles/mixin";
.header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: start;
  margin-bottom: 10px;

  span:last-child {
    position: absolute;
    top: 20px;
    right: 0;
    color: variables.$text-color;
  }

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }
  p {
    margin: 0;
  }
}

.card {
  padding-top: 15px;
  button {
    @include mixin.secondary-button;
    font-weight: normal;
    margin-right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
      margin: 0;
      margin-right: 5px;
    }
  }

  button:hover {
    background: #e0e0e0;
  }
}

.content {
  word-break: break-all;
  word-wrap: break-word;

  p {
    color: variables.$text-color;
    font-size: 14px;

    span {
      color: variables.$primary-color;
      text-decoration: underline;
      padding-left: 5px;
      cursor: pointer;
    }
  }
}

.reviewImgs {
  width: 100%;
  overflow-x: auto;
  ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
  }
  li {
    cursor: pointer;
  }
  img {
    border-radius: 15px;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
}
