@use "../../styles/variables";
.user-page {
  width: 100%;
  height: 100vmin;
  box-sizing: border-box;
  padding: 20px 0;
  background-color: variables.$background-color;

  > div {
    display: flex;
    margin: 0 auto;
    padding-right: 20px;
    height: 100%;
    max-width: 1600px;
  }
}

.user-page-content {
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1;
  height: 100%;
}

@media screen and (max-width: 845px) {
  .user-page {
    height: 100vmax;
  }
}
