@use "../../styles/variables";

.appointmentList {
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  overflow-y: auto;
}

.appointmentContainer {
  border: variables.$border-light;
  padding: 20px;
  border-radius: 10px;
}

.appointmentInfo {
  display: flex;
  gap: 30px;
}

.salonInfo {
  position: relative;
  min-width: 500px;
}

.bookingDetailContainer {
  margin-top: 20px;
  border: variables.$border-light;
  border-radius: 8px;

  > div:first-child {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px 25px;
    align-items: center;
    h3 {
      margin: 0;
    }
    svg {
      width: 20px;
      height: 20px;
      transition: all 0.2s ease-in-out;
    }

    .open {
      transform: rotate(180deg);
      path {
        fill: variables.$primary-color;
      }
    }
  }
}

.bookingDetailContent {
  display: flex;
  gap: 15px;
  align-items: start;
  height: 700px;
  margin: 0 25px 15px;

  > div:first-child {
    border-radius: 5px;
    padding: 15px;
  }

  > div {
    flex: 1;
    border: variables.$border-light;
    box-sizing: border-box;
    height: 100%;

    > strong {
      display: block;
      box-sizing: border-box;
      font-size: 18px;
      padding-bottom: 10px;
    }
  }
}

.bookingDetail {
  border: variables.$border-light;
  border-radius: 10px;
  overflow: hidden;

  > div:first-child {
    padding: 12px 15px;
    box-sizing: border-box;
    background-color: #fcedf2;
    width: 100%;
    font-size: 18px;
  }

  > div:last-child {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    > div {
      border: 1px solid #f0f0f0;
      border-radius: 5px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
    }
    strong {
      font-size: 14px;
    }
  }
}

.msg {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px 5px 31px 31px;

  > div:first-of-type {
    height: 100%;
  }

  > strong {
    padding: 15px 15px 0;
  }

  > div:last-child {
    box-shadow: inset 0 1px 15px rgba(0, 0, 0, 0.16);
    line-height: 4;
    border-radius: 30px;
    border: variables.$border-light;
  }

  input {
    border: none;
    background: transparent;
    padding: 0 25px;
    width: 100%;
    box-sizing: border-box;
    line-height: 2;
    caret-color: variables.$primary-color;
  }

  input:focus-visible {
    outline: none;
  }

  button {
    position: absolute;
    bottom: 6px;
    right: 5px;
    height: 55px;
    width: 55px;
    min-width: 0;
    padding: 15px;
  }
}

.otherInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;

  border: variables.$border-light;
  border-radius: 5px;
  padding: 25px;
  background-color: #f7f7f7;

  > div {
    display: flex;
    gap: 5px;
    font-size: 18px;
  }
}

.amount {
  font-size: 45px;
  color: variables.$primary-color;
}

.gradient {
  background: linear-gradient(180deg, #ffffff 0%, #e7e7e7 100%);
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  border-radius: 5px;
  padding: 25px;
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: end;
  box-sizing: border-box;
  overflow: hidden;

  > img {
    width: 60px;
    height: 60px;
    border: variables.$border-bold;
    border-radius: 50%;
  }

  .rateAndReview {
    display: flex;
    align-items: baseline;
    gap: 5px;

    strong {
      font-size: 18px;
    }

    > div {
      width: fit-content;
      position: relative;
    }
  }
  > div {
    overflow: hidden;
    padding-right: 20px;

    > span:last-of-type {
      display: block;
      text-overflow: ellipsis;
      text-wrap: nowrap;
      overflow: hidden;
    }
  }

  .trueStar {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
  }
}

.imgStyle {
  position: relative;
  border: variables.$border-light;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 5px;

  div {
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    padding: 10px;
    width: 100%;
    height: 70%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      object-fit: cover;
    }
  }

  svg {
    position: absolute;
    bottom: 31%;
    z-index: 1;
    width: 100%;
  }
}
