@use "../../styles/variables";
.appointmentContainer {
  border: variables.$border-light;
  padding: 20px;
  border-radius: 10px;
}

.appointmentInfo {
  display: flex;
  gap: 30px;
}

.salonInfo {
  position: relative;
  width: 100%;
  max-width: 520px;
}

.bookingdetail {
  margin-top: 20px;
  border: variables.$border-light;
  border-radius: 8px;
  padding: 15px 30px;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
    }
  }
}
.otherInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;

  border: variables.$border-light;
  border-radius: 5px;
  padding: 25px;
  background-color: #f7f7f7;

  > div {
    display: flex;
    gap: 5px;
  }
}

.amount {
  font-size: 45px;
  color: variables.$primary-color;
}

.gradient {
  background: linear-gradient(180deg, #ffffff 0%, #e7e7e7 100%);
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  border-radius: 5px;
  padding: 25px;
  display: flex;
  justify-content: start;
  align-items: end;
  box-sizing: border-box;

  > img {
    width: 50px;
    height: 50px;
  }

  .rateAndReview {
    display: flex;
    align-items: baseline;
    gap: 5px;

    strong {
      font-size: 18px;
    }

    > div {
      width: fit-content;
      position: relative;
    }
  }
  .trueStar {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
  }
}

.imgStyle {
  position: relative;
  border: variables.$border-light;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 5px;

  div {
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    padding: 10px;
    width: 100%;
    height: 70%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      object-fit: cover;
    }
  }

  svg {
    position: absolute;
    bottom: 31%;
    z-index: 1;
    width: 100%;
  }
}
