@use "../../styles/variables";
.viewreview {
  margin: 20px auto;
  max-width: 1200px;
}
.viewSection {
  margin: 20px 0;
  border-radius: 10px;
  border: variables.$border-light;
  padding: 20px 30px;
  display: flex;
  gap: 50px;

  > div {
    flex: 1;
  }
  > div:last-child {
    flex: 2;
  }
  h3 {
    margin: 0;
  }
  > * {
    min-width: 0;
  }
}

.map {
  top: 120px;
  background-color: white;
  border-radius: 5px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 300px;
  h3 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: variables.$text-title-color;
  }

  button:first-child {
    width: 100%;
    height: 42px;
  }
}
@media screen and (max-width: 1250px) {
  .viewSection {
    flex-direction: column;
  }
}
