@use "../../../styles/variables";

.bookingDetailContainer {
  margin-top: 20px;
  border: variables.$border-light;
  border-radius: 8px;

  > div:first-child {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px 25px;
    align-items: center;
    h3 {
      margin: 0;
    }
    svg {
      width: 20px;
      height: 20px;
      transition: all 0.2s ease-in-out;
    }

    .open {
      transform: rotate(180deg);
      path {
        fill: variables.$primary-color;
      }
    }
  }
}

.bookingDetailContent {
  display: flex;
  gap: 15px;
  align-items: start;
  height: 700px;
  margin: 0 25px 15px;

  > div:first-child {
    border-radius: 5px;
    padding: 15px;
  }

  > div {
    flex: 1;
    border: variables.$border-light;
    box-sizing: border-box;
    overflow: auto;
    height: 100%;

    > strong {
      display: block;
      box-sizing: border-box;
      font-size: 18px;
      padding-bottom: 10px;
    }
  }
}

.bookingDetail {
  border: variables.$border-light;
  border-radius: 10px;
  overflow: hidden;

  > div:first-child {
    padding: 12px 15px;
    box-sizing: border-box;
    background-color: #fcedf2;
    width: 100%;
    font-size: 18px;
  }

  > div:last-child {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    > div {
      border: 1px solid #f0f0f0;
      border-radius: 8px;

      > div {
        border-bottom: 1px solid #f0f0f0;
        padding: 10px;
        display: flex;
        justify-content: space-between;
      }
      > div:last-child {
        border-bottom: none;
      }
    }
    strong {
      font-size: 14px;
    }
  }
}

.msg {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px 5px 31px 31px;

  > div:first-of-type {
    height: 100%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    padding: 0 20px 20px;
    gap: 5px;

    img {
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: variables.$border-light;
      object-fit: cover;
    }
    span {
      font-size: 12px;
      color: variables.$text-color;
    }
  }

  > strong {
    padding: 15px 15px 0;
  }

  > div:last-child {
    box-shadow: inset 0 1px 15px rgba(0, 0, 0, 0.16);
    line-height: 4;
    border-radius: 30px;
    border: variables.$border-light;
  }

  input {
    border: none;
    background: transparent;
    padding: 0 25px;
    width: 100%;
    box-sizing: border-box;
    line-height: 2;
    caret-color: variables.$primary-color;
  }

  input:focus-visible {
    outline: none;
  }

  button {
    position: absolute;
    bottom: 6px;
    right: 5px;
    height: 55px;
    width: 55px;
    min-width: 0;
    padding: 15px;
  }
}

.chatAvatar {
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: 10px;
}
.customer,
.admin {
  padding: 10px;
  font-size: 14px;
  border-radius: 30px;
}

.customer {
  background-color: rgb(213, 229, 250);
  margin-left: auto;
  border-bottom-right-radius: 5px;
  + .customer {
    border-top-right-radius: 5px !important;
  }
  + .customer:has(+ .chatAvatar) {
    border-bottom-right-radius: 30px !important;
  }
  + .chatAvatar:has(+ .admin),
  + .chatAvatar:last-child {
    flex-direction: row-reverse;
  }
}

.admin {
  background-color: rgb(255, 219, 219);
  margin-right: auto;
  border-bottom-left-radius: 5px;
  + .admin {
    border-top-left-radius: 5px !important;
  }
  + .admin:has(+ .chatAvatar) {
    border-bottom-left-radius: 30px !important;
  }
}
@media screen and (max-width: 1270px) {
  .bookingDetailContent {
    flex-direction: column;
    min-height: 1200px;
    > div {
      width: 100%;
      height: min-content;
    }
  }
}
