@use "../../../styles/variables";
@use "../../../styles/mixin";

.reviewListContainer {
  @include mixin.custom-scrollbar;
  height: 100%;
  overflow: auto;
}

.reviewCard {
  display: flex;
  position: relative;
  gap: 10px;
  flex-direction: column;
  padding: 20px;
  border: variables.$border-light;
  border-radius: 10px;
  margin-bottom: 20px;

  strong {
    font-size: 18px;
  }
}

.reviewHeader {
  background: linear-gradient(180deg, #ffffff 0%, #e7e7e7 100%);
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  padding-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: end;
  box-sizing: border-box;
  overflow: hidden;

  > img {
    width: 60px;
    height: 60px;
    border: variables.$border-bold;
    border-radius: 50%;
    object-fit: cover;
  }

  span:first-child {
    position: absolute;
    right: 40px;
    font-size: 14px;
    color: variables.$text-color;
  }

  .rateAndReview {
    display: flex;
    align-items: baseline;
    gap: 5px;

    strong {
      font-size: 18px;
    }

    > div {
      width: fit-content;
      position: relative;
    }
  }
  > div {
    overflow: hidden;
    padding-right: 20px;

    > span:last-of-type {
      display: block;
      text-overflow: ellipsis;
      text-wrap: nowrap;
      overflow: hidden;
    }
  }

  .trueStar {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
  }
}

.imgList {
  display: flex;
  gap: 10px;
  img {
    border: variables.$border-light;
    height: 60px;
    width: 60px;
    border-radius: 5px;
  }
}

.iconBlock {
  display: flex;
  justify-content: space-between;

  div > i {
    font-size: 20px;
  }

  button {
    all: unset;
    padding: 5px;
    margin-left: 5px;
    background-color: #fafafa;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;

    i {
      font-size: 18px;
    }
  }

  button:last-child i {
    color: red;
  }

  button:hover {
    background-color: #e7e7e7;
  }
}

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  transition: all 0.3s;

  > div {
    text-align: center;
    margin: 50px auto 0;
    background-color: #fff;
    border-radius: 20px;
    padding: 0 30px 30px;
    height: max-content;

    button {
      @include mixin.secondary-button;
    }
  }
}

.active {
  display: none;
  background-color: rgba(0, 0, 0, 0.158);
}
