@use "../../../styles/variables";
@use "../../../styles/mixin";

.reviewListContainer {
  @include mixin.custom-scrollbar;
  height: 100%;
  overflow: auto;
}

.reviewCard {
  position: relative;
  padding: 20px;
  border: variables.$border-light;
  border-radius: 10px;
  margin-bottom: 20px;

  strong {
    font-size: 18px;
  }

  .editForm {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}

.reviewHeader {
  background: linear-gradient(180deg, #ffffff 0%, #e7e7e7 100%);
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px 20px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: end;
  box-sizing: border-box;
  overflow: hidden;

  > img {
    width: 60px;
    height: 60px;
    border: variables.$border-bold;
    border-radius: 50%;
    object-fit: cover;
  }

  span:first-child {
    position: absolute;
    right: 40px;
    font-size: 14px;
    color: variables.$text-color;
  }

  .rateAndReview {
    display: flex;
    align-items: baseline;
    gap: 5px;

    strong {
      font-size: 18px;
    }

    > div {
      width: fit-content;
      position: relative;
    }
  }
  > div {
    overflow: hidden;
    padding-right: 20px;

    > span:last-of-type {
      display: block;
      text-overflow: ellipsis;
      text-wrap: nowrap;
      overflow: hidden;
    }
  }

  .trueStar {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
  }
}

.imgBlock {
  display: flex;
  align-items: center;
  button {
    margin-left: auto;
    border-radius: 10px;
    min-width: 90px;
    height: 45px;
    font-size: 16px;
  }
}

.imgList {
  display: flex;
  gap: 10px;
  img {
    border: variables.$border-light;
    height: 60px;
    width: 60px;
    border-radius: 5px;
  }
}

.iconBlock {
  display: flex;
  justify-content: space-between;

  div > i {
    font-size: 20px;
  }

  button {
    all: unset;
    padding: 5px;
    margin-left: 5px;
    background-color: #fafafa;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;

    i {
      font-size: 18px;
    }
  }

  button:last-child i {
    color: red;
  }

  button:hover {
    background-color: #e7e7e7;
  }
}

.overlay {
  display: flex;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  transition: all 0.3s ease;

  > div {
    margin: 50px auto 0;
    background-color: #fff;
    border-radius: 20px;
    padding: 0 30px 30px;
    text-align: center;
    height: max-content;
    transition: all 0.3s ease;
    transform: translateY(-30%);

    > div {
      display: flex;
      margin-top: 40px;
      gap: 20px;
      justify-content: center;
    }

    button {
      @include mixin.secondary-button;
      border-color: variables.$primary-color;
      color: variables.$primary-color;
      height: 50px;
      font-size: 18px;
    }
  }
}

.overlay.active {
  opacity: 1;
  pointer-events: all;

  > div {
    transform: translateY(0%);
  }
}

input,
textarea {
  border: variables.$border-light;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  font-family: variables.$font-family;
}

textarea {
  resize: vertical;
  max-height: 500px;
}
